@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
.display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 24px;
  margin-bottom: 24px; }

h2,
.display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 24px;
  margin-bottom: 24px; }

h3,
.display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 24px;
  margin-bottom: 24px; }

h4,
.display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 49px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 24px;
  margin-bottom: 24px; }

h5,
.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 24px;
  margin-bottom: 16px; }

h6,
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 24px;
  margin-bottom: 16px; }

.subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 24px;
  margin-bottom: 16px; }

p,
.body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px; }

small,
.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.54); }

strong {
  font-weight: 500; }

em {
  font-style: italic; }

* {
  box-sizing: border-box;
  line-height: 1;
  outline: none; }
  *:before, *:after {
    box-sizing: inherit; }

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87); }

.row, .row--fade-in {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 8px; }
  .row--fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.col, .col--full, .col--half, .col--fit, .col--fade-in {
  flex: 1;
  padding: 8px; }
  .col--full {
    flex: 0 0 100%; }
  .col--half {
    flex: 0 0 50%; }
  .col--fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.col--1 {
  flex: 0 0 8.33333%; }

.col--2 {
  flex: 0 0 16.66667%; }

.col--3 {
  flex: 0 0 25%; }

.col--4 {
  flex: 0 0 33.33333%; }

.col--5 {
  flex: 0 0 41.66667%; }

.col--6 {
  flex: 0 0 50%; }

.col--7 {
  flex: 0 0 58.33333%; }

.col--8 {
  flex: 0 0 66.66667%; }

.col--9 {
  flex: 0 0 75%; }

.col--10 {
  flex: 0 0 83.33333%; }

.col--11 {
  flex: 0 0 91.66667%; }

.col--12 {
  flex: 0 0 100%; }

@media only screen and (min-width: 320px) {
  .col--xs-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (min-width: 320px) {
  .col--xs-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (min-width: 320px) {
  .col--xs-3 {
    flex: 0 0 25%; } }

@media only screen and (min-width: 320px) {
  .col--xs-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (min-width: 320px) {
  .col--xs-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (min-width: 320px) {
  .col--xs-6 {
    flex: 0 0 50%; } }

@media only screen and (min-width: 320px) {
  .col--xs-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (min-width: 320px) {
  .col--xs-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (min-width: 320px) {
  .col--xs-9 {
    flex: 0 0 75%; } }

@media only screen and (min-width: 320px) {
  .col--xs-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (min-width: 320px) {
  .col--xs-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (min-width: 320px) {
  .col--xs-12 {
    flex: 0 0 100%; } }

@media only screen and (min-width: 480px) {
  .col--sm-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (min-width: 480px) {
  .col--sm-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (min-width: 480px) {
  .col--sm-3 {
    flex: 0 0 25%; } }

@media only screen and (min-width: 480px) {
  .col--sm-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (min-width: 480px) {
  .col--sm-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (min-width: 480px) {
  .col--sm-6 {
    flex: 0 0 50%; } }

@media only screen and (min-width: 480px) {
  .col--sm-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (min-width: 480px) {
  .col--sm-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (min-width: 480px) {
  .col--sm-9 {
    flex: 0 0 75%; } }

@media only screen and (min-width: 480px) {
  .col--sm-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (min-width: 480px) {
  .col--sm-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (min-width: 480px) {
  .col--sm-12 {
    flex: 0 0 100%; } }

@media only screen and (min-width: 768px) {
  .col--md-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (min-width: 768px) {
  .col--md-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (min-width: 768px) {
  .col--md-3 {
    flex: 0 0 25%; } }

@media only screen and (min-width: 768px) {
  .col--md-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (min-width: 768px) {
  .col--md-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (min-width: 768px) {
  .col--md-6 {
    flex: 0 0 50%; } }

@media only screen and (min-width: 768px) {
  .col--md-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (min-width: 768px) {
  .col--md-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (min-width: 768px) {
  .col--md-9 {
    flex: 0 0 75%; } }

@media only screen and (min-width: 768px) {
  .col--md-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (min-width: 768px) {
  .col--md-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (min-width: 768px) {
  .col--md-12 {
    flex: 0 0 100%; } }

@media only screen and (min-width: 992px) {
  .col--lg-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (min-width: 992px) {
  .col--lg-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (min-width: 992px) {
  .col--lg-3 {
    flex: 0 0 25%; } }

@media only screen and (min-width: 992px) {
  .col--lg-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (min-width: 992px) {
  .col--lg-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (min-width: 992px) {
  .col--lg-6 {
    flex: 0 0 50%; } }

@media only screen and (min-width: 992px) {
  .col--lg-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (min-width: 992px) {
  .col--lg-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (min-width: 992px) {
  .col--lg-9 {
    flex: 0 0 75%; } }

@media only screen and (min-width: 992px) {
  .col--lg-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (min-width: 992px) {
  .col--lg-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (min-width: 992px) {
  .col--lg-12 {
    flex: 0 0 100%; } }

.is-bold {
  font-weight: 500; }

.is-italic {
  font-style: italic; }

.is-hidden {
  display: none; }

.is-text-center {
  text-align: center; }

.is-text-left {
  text-align: left; }

.is-text-right {
  text-align: right; }

.is-nowrap {
  white-space: nowrap; }

.is-short-60 {
  max-width: 40ch; }

.is-short-40 {
  max-width: 40ch; }

.is-short-30 {
  max-width: 30ch; }

.is-short-15 {
  max-width: 15ch; }
